<input [(ngModel)]="userName" type="text" class="form-control" />
<p>{{ userName }}</p>
<button
  class="btn btn-success"
  [disabled]="userName === ''"
  (click)="userName = ''"
>
  Reset user name
</button>
<hr />
<label>Server name</label>
<!-- <input
  type="text"
  class="form-control"
  (input)="onUpdateServerName($event)"
  [value]="serverName"
/> -->
<input type="text" class="form-control" [(ngModel)]="serverName" />
<!-- <p>{{ serverName }}</p> -->
<button
  [class]="classNames"
  [disabled]="!allowNewServer"
  (click)="onCreateServer(this)"
>
  Add Server
</button>
<p *ngIf="serverCreated; else noServer">{{ serverCreation }}</p>
<ng-template #noServer><p>No server was created</p></ng-template>
<p [innerText]="allowNewServer"></p>
<app-server *ngFor="let server of servers"></app-server>
